:root {
  font-family: 'Barlow', sans-serif;
  color-scheme: light dark;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.views {
  display: flex;
  margin: auto;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: auto;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d1d5db;
}
.profile-desc {
  max-width: 400px;
}
